.badge {
    color: #fdf2f2;
    text-align: center;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    margin: 0.25em;
    width: 4em;
    font-size: $font-medium;
}

.badge:hover {
    cursor: pointer;
}
