.poke-card {
    width: 22em;
    height: 12em;
    background-color: whitesmoke;
    margin: 1em;
    border-radius: 0.5em;
    transition: ease-in-out 0.25s;
    padding: 1em 2.5em;
    text-transform: capitalize;
}

.poke-card:hover {
    transform: scale(1.05);
}

.card-content {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: space-between;
    align-items: center;

    .poke-img {
        width: 10em;
        height: 10em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .poke-img:hover {
        cursor: pointer;
    }
}

.card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

.card-name {
    color: rgb(12, 11, 11);
    font-size: $font-big;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
