@import 'base/reset';
@import 'base/color';
@import 'base/typography';
@import 'components/poke-card';
@import 'components/pagination';
@import 'components/badge';

/* html {
    scroll-behavior: smooth;
} */

// temp
body {
    background-color: tomato;
}

// temp
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}
