@import 'base/reset';
@import 'base/typography';
@import 'components/poke-card';

body {
    background-color: tomato;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}

.pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    width: 30em;
}

.pag-li {
    padding: 0.5em;
    border: 2px solid azure;
    border-radius: 4px;
    margin: 2.5px;
}

.break {
    padding: 0.5em;
    border: 2px solid azure;
    border-radius: 4px;
    margin: 2.5px;
}

.pag-a:hover {
    cursor: pointer;
}

.pag-active {
    color: red;
}

.next,
.previous {
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: 2px solid azure;
    border-radius: 4px;
    margin: 2.5px;
}

.next:hover,
.previous:hover {
    a {
        cursor: pointer;
    }
}

.spinner {
    width: 90px;
    height: 90px;
    background-color: black;
}
