$normal: burlywood;
$fire: orange;
$fighting: brown;
$water: lightseagreen;
$poison: purple;
$eletric: yellow;
// $ground: red;
$pyschic: violet;
// $rock: red;
$ice: lightblue;
$bug: yellowgreen;
// $dragon: purple;
// $ghost: purple;
// $dark: brown;
$steel: grey;
$fairy: pink;
